@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: 'Pacifico', cursive;
  margin: 0;
  overflow: hidden;
  background: url(https://subtlepatterns.com/patterns/noise_lines.png);
  background-size: cover;
  color: #fff;
}

.ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite;
}

.ico .title {
  font-size: 25px;
  color: #000000;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.ico:before, .ico:after {
  content: "\f004"; /* Heart icon */
  font-family: FontAwesome;
  font-size: 10em;
  position: absolute;
  color: rgba(255, 64, 129, 0.5);
  transform: scale(1);
  opacity: 1;
}

.ico:before {
  animation: explode 1.5s ease-in-out infinite;
}

.ico:after {
  animation: explode 3s ease-in-out infinite 3s;
}

.open .ico {
  transform: scale(100); /* Heart scales to fill the screen */
  opacity: 0; /* Fades out */
  pointer-events: none;
  transition: transform 3s ease, opacity 4s ease; /* Smooth animation */
  visibility: hidden; /* Hides the heart and text completely */
}

.images {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto; /* Allows scrolling */
  height: 100%; /* Full viewport height */
}

.images img {
  object-fit: contain;
  max-width: 100%;
  max-height: none; /* Ensure full image is visible */
  display: block;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
